src/main/mule/file2db-batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="BatchProcessFlow" doc:id="a6d2c014-3e50-4e73-bcd2-a1e6e9b196ac" initialState="started" tracking:enable-default-events="true">
		<file:listener doc:name="On New or Updated File" doc:id="2e7257ac-d8dc-43f4-9cba-2b3d5f427a22" config-ref="File_Config" directory="${file.input_dir}" outputMimeType="application/csv" watermarkMode="MODIFIED_TIMESTAMP" moveToDirectory="${file.archive_dir}">
			<scheduling-strategy>
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="dedc70ca-0573-4c56-a464-4e91a3ea1e63" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="File2DBBatch" doc:id="f14c8677-724f-4897-9745-66ab4cf48f29" blockSize="${batch.size}">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a66c5451-b5a3-42fc-a55c-720571661e86" >
					<logger level="INFO" doc:name="Log Row" doc:id="1c071d03-66aa-4f55-9622-a4b2f5395a97" message="#[payload]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="bbd50be4-a3af-4cc6-88bd-636a45bef893" size="${batch.size}" streaming="false">
						<logger level="INFO" doc:name="Log Batch" doc:id="4e81dc54-177b-41e1-bbce-7382b8315f05" message="#[payload]"/>
						<ee:transform doc:name="Transform Message" doc:id="d866e0d2-5af5-44e2-b7b2-bf7fd5e6d661">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
	site: $.site as String,
	sku: $.sku as String,
	quantity: $.quantity as Number
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-insert doc:name="Bulk insert" doc:id="9a067649-f11b-4983-ba14-06b6f69c0584" config-ref="Database_Config">
			<db:sql>INSERT INTO `davefelcey`.`stock` (`site`,`sku`,`quantity`)
VALUES (:site, :sku, :quantity);</db:sql>
		</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Log Results" doc:id="daa2d16f-b8f0-49b9-9267-b8baf967fd5a" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
